# Need to set this values even if you have aws configured locally to use credentials because the docker container will not have access to that information.
AWS_ACCESS_KEY_ID=<YOUR AWS USER ACCESS KEY>
AWS_SECRET_ACCESS_KEY=<YOUR AWS SECRET KEY>
